header {
    width: 100% !important;
    @media (min-width: 1200px) {
        .container {
            width: 100% !important;
        }
    }
    @media (min-width: 992px) {
        .container {
            width: 100% !important;
        }
    }
}