header {
    position: relative;
}

.navbar-nav {
    z-index: 100;
    @media( max-width: 991px ) {
        position: relative;
        top: 1.5rem;
        left: 2rem;
    }
}
.nav-link, 
.navbar-dark, 
.navbar-nav{
    color: #087005 !important;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.logo {
    top: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &-image {
        height: 10rem;
    }
}
button.btn.btn-inverse {
    padding: 0;
    margin: 0;
    bottom: .2rem;
    z-index: 550;
    background: transparent;
    font-size: 1.5rem;
}
.nav {
    &-container {
        width: 100%;
        nav {
            z-index: 1000;
            color: #087005 !important;
            font-weight: 300;
            font-size: 18px;
        }
    }
}
.navbar {
    &-mobile-center{
        position: absolute;
        right: 0;
        padding: 1rem 5rem;
    }
    &-nav {
        a { padding: 0; display: inline;}
        .nav-item {
            color: #087005;
            list-style: none !important;
        }
        .nav-item:after {
            content: '|' !important;
            margin: 0 .75rem;
            width: 100%;
        }
        .nav-item:last-child:after {
            content: '' !important;
            margin: 0;
            border: none;
        }
    }
    &-clickable {
        display: block;
        width: 100%;
    }
}

.show {
    display: inline-block;
}
.hide {
    display: none;
}

// **********************************  MEDIA QUERIES **********************************

@media (max-width: 1200px) {
    .navbar-container {
        padding: 1rem 2rem;
    }
    .navbar-nav {
        .nav-item:after {
            content: none;
        }
        .nav-item {
            text-align: right;
        }
    }
}

@media (max-width: 948px) {
    .navbar-container {
        padding: 0;
        img { height: 2rem; }
    }
}

@media (max-width: 767px) {
    // .navbar-nav {
    //     .nav-item:after {
    //         content: '';
    //         width: 100%;
    //     }
    // }
    // .navbar {
    //     padding: 1rem 1rem 0;
    // }
}
